.icon{ background:url("icon.png") top left no-repeat; }
.icon-facebook{ width:20px; height:32px; background-position:-1px -1px; }
.icon-instagram{ width:30px; height:30px; background-position:-1px -34px; }
.icon-youtube{ width:35px; height:26px; background-position:-1px -65px; }
.icon-mail{ width:33px; height:23px; background-position:-1px -92px; }

